<app-header></app-header>
<section class="main-content">
    <div class="head">
        <h2 class="heading">Home</h2>
        <div class="start-topic"><a routerLink="/new-topic">Raise a Ticket</a>
        </div>
    </div>
    <div class="cs-s">
        <div class="cs-g-c">
            <div class="topic-list">
                <div class="list-lead">
                    <h2 class="announcement"><a href="/support/discussions/forums/48000186396"> Announcements
                            <span class='item-count'>(0)</span></a></h2>
                </div>
            </div>
            <div class="topic-list">
                <div class="list-lead">
                    <h2 class="ideas">
                        <a href="/support/discussions/forums/48000186397"> FAQs<span
                                class='item-count'>(2)</span></a>
                    </h2>
                </div>
                <ul>
                    <li>
                        <div class="ellipsis">
                            <h2>
                                <a href="/support/discussions/topics/48000558287">
                                    What would you like us to add on the
                                    self-service portal?</a>
                            </h2>
                        </div>
                        <div class="help-text">
                            Posted by <b>Idongesit Essen</b>, <span class='timeago'>
                                over 2 years ago
                            </span>
                            <div> <a href='/support/discussions/topics/48000558287/page/last#post-48001268122'>Last
                                    Reply</a> by Idongesit Essen <span class='timeago'>
                                    over 2 years ago
                                </span> </div>
                        </div>
                    </li>
                    <li>
                        <div class="ellipsis">
                            <h2>
                                <a href="/support/discussions/topics/48000558720">ADDITION OF NEW MOBILE ACCOUNTS</a>
                            </h2>
                        </div>
                        <div class="help-text">
                            Posted by <b>DLaw Sky Ventures Int.</b>, <span class='timeago'>
                                over 2 years ago
                            </span>
                            <div> <a href='/support/discussions/topics/48000558720/page/last#post-48001268049'>Last
                                    Reply</a> by ABDULMUDALLIB MUSA ABDULLAHI <span class='timeago'>
                                    over 2 years ago
                                </span> </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="topic-list">
            <div class="list-lead">
                <h2 class="problems">
                    <a href="/support/discussions/forums/48000186399" title="Report a problem"> Report a problem <span
                            class='item-count'>(5)</span></a>
                </h2>
            </div>
            <ul>
                <li>
                    <div class="ellipsis">
                        <h2>
                            <a href="/support/discussions/topics/48000558754">Failed transaction over 48 hrs not
                                resolved</a>
                        </h2>
                    </div>
                    <div class="help-text">
                        Posted by <b>Charles Snipes</b>, <span class='timeago'>
                            over 2 years ago
                        </span>
                        <div> <a href='/support/discussions/topics/48000558754/page/last#post-48001276837'>Last
                                Reply</a> by sagiru adamu <span class='timeago'>
                                11 months ago
                            </span> </div>
                    </div>
                </li>
                <li>
                    <div class="ellipsis">
                        <h2>
                            <a href="/support/discussions/topics/48000559525">Failed transaction </a>
                        </h2>
                    </div>
                    <div class="help-text">
                        Posted by <b>Abdolami Lekan</b>, <span class='timeago'>
                            about 2 years ago
                        </span>
                        <div> <a href='/support/discussions/topics/48000559525/page/last#post-48001269757'>Last
                                Reply</a> by Abdolami Lekan <span class='timeago'>
                                about 2 years ago
                            </span> </div>
                    </div>
                </li>
                <li>
                    <div class="ellipsis">
                        <h2>
                            <a href="/support/discussions/topics/48000558753">this people r unserious</a>
                        </h2>
                    </div>
                    <div class="help-text">
                        Posted by <b>Charles Snipes</b>, <span class='timeago'>
                            over 2 years ago
                        </span>
                        <div> <a href='/support/discussions/topics/48000558753/page/last#post-48001268545'>Last
                                Reply</a> by Ojeblenu Joel <span class='timeago'>
                                over 2 years ago
                            </span> </div>
                    </div>
                </li>
                <li>
                    <div class="ellipsis">
                        <h2>
                            <a href="/support/discussions/topics/48000558758">Failed Transactions</a>
                        </h2>
                    </div>
                    <div class="help-text">
                        Posted by <b>Samuel Oduntan</b>, <span class='timeago'>
                            over 2 years ago
                        </span>
                        <div> <a href='/support/discussions/topics/48000558758/page/last#post-48001268462'>Last
                                Reply</a> by Daniel Asuquo <span class='timeago'>
                                over 2 years ago
                            </span> </div>
                    </div>
                </li>
                <li>
                    <div class="ellipsis">
                        <h2>
                            <a href="/support/discussions/topics/48000558652">Quickteller online portal not coming
                                up</a>
                        </h2>
                        
                    </div>
                    <div class="help-text">
                        Posted by <b>Buari Kazeem</b>, <span class='timeago'>
                            over 2 years ago
                        </span>
                        <div> <a href='/support/discussions/topics/48000558652/page/last#post-48001268126'>Last
                                Reply</a> by Utenegeabasi <span class='timeago'>
                                over 2 years ago
                            </span> </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<app-footer></app-footer>
