<app-header></app-header>
<!-- main content -->
<div class="container">
    <div class="delta-state-logo">
        <img [src]=deltaState alt="state-logo">
    </div>
    <div class="accordion-menu">
        <ul>
            <li>
                <input type="checkbox" checked>
                <i class="arrow"></i>
                <h2><i class="fas fa-code"></i>How often is the money paid</h2>
                <p>This UI was written in HTML and CSS.
                </p>
                <div class="feedback">
                    <p>happy with the answer given ?</p>
                    <app-font-icon iconType="remix" iconName="thumb-up-line" iconSize="nav-icons" iconColor="#000">
                    </app-font-icon>
                    <app-font-icon iconType="remix" iconName="thumb-down-line" iconSize="nav-icons" iconColor="#000">
                    </app-font-icon>
                </div>
            </li>
            <li>
                <input type="checkbox" checked>
                <i class="arrow"></i>
                <h2><i class="fas fa-question"></i>How it Works</h2>
                <p>Using the sibling and checked selectors, we can determine
                    the styling of sibling elements based on the checked state
                    of the checkbox input element.
                </p>
            </li>
            <li>
                <input type="checkbox" checked>
                <i class="arrow"></i>
                <h2><i class="fas fa-laugh"></i>Points of Interest</h2>
                <p>By making the open state default for when :checked isn't
                    detected, we can make this system accessable for browsers
                    that don't recognize :checked.
                </p>
            </li>
            <li>
                <input type="checkbox" checked>
                <i class="arrow"></i>
                <h2><i class="fas fa-laugh"></i>Points of Interest</h2>
                <p>By making the open state default for when :checked isn't
                    detected, we can make this system accessable for browsers
                    that don't recognize :checked.
                </p>
            </li>
            <li>
                <input type="checkbox" checked>
                <i class="arrow"></i>
                <h2><i class="fas fa-laugh"></i>Points of Interest</h2>
                <p>By making the open state default for when :checked isn't
                    detected, we can make this system accessable for browsers
                    that don't recognize :checked.
                </p>
            </li>
            <li>
                <input type="checkbox" checked>
                <i class="arrow"></i>
                <h2><i class="fas fa-laugh"></i>Points of Interest</h2>
                <p>By making the open state default for when :checked isn't
                    detected, we can make this system accessable for browsers
                    that don't recognize :checked.
                </p>
            </li>
            <li>
                <input type="checkbox" checked>
                <i class="arrow"></i>
                <h2><i class="fas fa-laugh"></i>is Certificate ready</h2>
                <p>By making the open state default for when :checked isn't
                    detected, we can make this system accessable for browsers
                    that don't recognize :checked.
                </p>
            </li>
        </ul>
    </div>
</div>


<!-- end of main content -->
<app-footer></app-footer>