<div class="wrapper">
    <div class="header">
        <div class="head-two">
            <div class="one">
                <h2 class="pencom">Pencom</h2>
                <img src="../../../assets/images/Delta-state-logo.png" alt="logo">
                <h2>Self Support</h2>
            </div>
            <div class="two">
                <h2>welcome </h2>
                <h2 class="login">
                    <a routerLink="/login"> login</a></h2>
            </div>
        </div>
    </div>
    <div class="nav-link">
        <h3><a routerLink="/" class="">Home</a></h3>
        <h3><a routerLink="/faqs" class="" routerLinkActive="active-link">Faqs</a></h3>
        <h3><a routerLink="/forums" class="active" routerLinkActive="active-link">Forums</a></h3>
        <div class="under"></div>
    </div>
    <hr>
</div>
