footer{
    background-color: var(--base-blue);
    nav{
        display: flex;
        width: 99%;
        height: 10vh;
        padding-left: 20px;
        padding-top: 15px;
        
        a{
            text-decoration: none;
            cursor: pointer;
            color: #fff;
            padding: 10px;
            font-family: sans-serif;
            &:hover{
                color: var(--hover-color);
            }
        }
    }
}
.copyright{
    background-color: var(--base-blue-dark);
    height: 5vh;
    padding: 5px;
    .center{
        display: flex;
        justify-content: center;
        padding: 4px;
        a{
            text-decoration: none;
            cursor: pointer;
            color: #6b707f;
            padding: 3px;
            font-family: sans-serif;
            font-size: 12px;
            &:hover{
                color: var(--hover-color);
            }
            
        }
        span{
            font-family: sans-serif;
            font-size: 12px;
            padding: 3px;
            color: #fff;
        }

    }
   
}